---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div id="sections">
		<section id="contact" class="page-section">
			<div class="section-contents container-fluid">
				<div class="row section-title">
					<h1>Contact</h1>
				</div>
				<div class="row">
					<h3>
						Get in touch to discuss how we can optimise your
						bio-manufacturing process PENDIENTE
					</h3>
				</div>
				<form id="contact-form" class="row">
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input
								type="text"
								class="form-control"
								id="first-name"
								name="firstname"
								placeholder="First Name"
								required
							/>
							<label for="first-name">First Name (required)</label
							>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input
								type="text"
								class="form-control"
								id="lastname"
								name="lastname"
								placeholder="Last Name"
								required
							/>
							<label for="last-name">Last Name (required)</label>
						</div>
					</div>
					<div class="col-12">
						<div class="form-floating mb-3">
							<input
								type="email"
								class="form-control"
								id="email"
								name="email"
								placeholder="name@example.com"
								required
							/>
							<label for="email">Email (required)</label>
						</div>
					</div>
					<div class="col-12">
						<div class="mb-3">
							<textarea
								class="form-control t"
								id="message"
								name="message"
								placeholder="Your message"
								rows="5"
								required></textarea>
						</div>
					</div>
					<div class="col-12 text-center">
						<button type="submit" class="btn btn-primary"
							>Send</button
						>
					</div>
				</form>
			</div>
		</section>
	</div>
</Layout>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const form = document.getElementById("contact-form");
		const BASE_URL = `${window.location.protocol}//${window.location.hostname}:4000`; // Base URL with port

		form.addEventListener("submit", function (event) {
			event.preventDefault();
			const formData = new FormData(form);
			const jsonData = Object.fromEntries(formData.entries());
			// Remove port if present
			console.log(BASE_URL);
			fetch(`${BASE_URL}/api/contact`, {
				method: "POST",
				body: JSON.stringify(jsonData), // Send JSON data
				headers: {
					"Content-Type": "application/json", // Set the correct content type
				},
			})
				.then((response) => response.json())
				.then((data) => {
					if (data.success) {
						alert("Message sent successfully!");
						form.reset();
					} else {
						alert("Error sending message. Please try again.");
						console.error("Error:", data.error);
					}
				})
				.catch((error) => {
					console.error("Error:", error);
					alert("Error sending message. Please try again.");
				});
		});
	});
</script>

<style>
	form {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}

	.form-control {
		border-radius: 99px;
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(222, 154, 151, 0.25);
			border-color: #de9a97;
		}
	}

	textarea {
		height: 200px;
		border-radius: 2rem !important;
		padding: 20px;
	}

	button {
		text-align: center;
		justify-content: center;
		width: 100%;
		border-radius: 99px !important;
		background: #ff7e79;
		color: #fff;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		font-size: 1.5rem;
		cursor: pointer;
	}

	button:hover {
		background: #333;
	}
</style>
