---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Scene3D from "../components/Scene3D.astro";
import escena from "../assets/greenleaf.glb";
---

<Layout>
	<Header />
	<div id="sections">
		<section id="our-focus" class="page-section">
			<div
				id="our-focus-contents"
				class="section-contents container-fluid"
			>
				<div class="row"><h1>Our focus</h1></div>
				<div class="row">
					<h3>Pequeña frase sobre our focus bla bla bla</h3>
				</div>
				<div class="row cards">
					<div class="col-md-4">
						<Card>
							<img
								src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/800px-Placeholder_view_vector.svg.png"
								alt="Card image"
								class="card-img-top"
							/>
						</Card>
					</div>
					<div class="col-md-4">
						<Card>
							<img
								src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/800px-Placeholder_view_vector.svg.png"
								alt="Card image"
								class="card-img-top"
							/>
						</Card>
					</div>
					<div class="col-md-4">
						<Card>
							<img
								src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/800px-Placeholder_view_vector.svg.png"
								alt="Card image"
								class="card-img-top"
							/>
						</Card>
					</div>
				</div>
			</div>
		</section>
		<section id="our-approach" class="page-section">
			<div
				id="our-approach-contents"
				class="section-contents container-fluid"
			>
				<div class="row"><h1>Our approach</h1></div>
				<div class="row">
					<div class="col-lg-6 align-self-center">
						<h3>
							Contenido a la izquierda en una columna que ocupa la
							mayoría del espacio disponible
						</h3>
					</div>
					<div class="col-lg-6 mt-5">
						<div id="model3d">
							<Scene3D glbPath={escena} camera="Camera"/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="team" class="page-section">
			Contenido de la sección 3
		</section>
	</div>
</Layout>

<style>
	#sections {
	}

	section + section {
		outline: 5px solid rgba(255,126, 121, 0.35);
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	}

	.page-section {
		padding: 100px 10px 30px 10px;
		min-height: 100vh;
		font-size: 2rem;
		position: relative;

		h1 {
			margin-bottom: 30px;
			color: #7f7f7f;
		}

		h3 {
			line-height: 180%;
		}
	}
	#our-focus {
		background-color: white;
	}
	#our-approach {
		background-color: #FAECE0;
	}
	#team {
		background-color: white;
	}
	.cards {
		margin-top: 50px;
		.col-md-4 {
			justify-items: center;
		}
	}

	.cards .col-md-4 + .col-md-4 {
		margin-top: 50px;
	}
	#model3d {
		height: 70vh;
		border-radius: 20px;
		position: relative;
		overflow: hidden;
	}

	@media screen and (min-width: 768px) {
		.cards .col-md-4 + .col-md-4 {
			margin-top: 0px;
		}
		.page-section {
			padding: 100px 50px 30px 50px;
		}
	}
</style>

<script>
	import { animate, onScroll, stagger } from "../scripts/anime.esm.min";
	animate("#our-focus-contents", {
		opacity: [0, 1],
		translateX: ["-100%", "0%"],
		duration: 1000,
		easing: "linear",
		autoplay: onScroll({
			enter: "90% top",
			leave: "40% top",
			sync: 0.1,
		}),
	});

	animate(".card", {
		opacity: [0, 0, 1],
		translateY: ["100%", "0%"],
		duration: 1000,
		delay: stagger(200),
		easing: "linear",
		autoplay: onScroll({
			enter: "bottom top",
			leave: "40% top",
			sync: 0.2,
		}),
	});
</script>
