---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<div id="sections">
	<section id="section1" class="section">Contenido de la sección 1</section>
	<section id="section2" class="section">Contenido de la sección 2</section>
	<section id="section3" class="section">Contenido de la sección 3</section>
	</div>
	
</Layout>

<style>
	#sections {
	}
	.section {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		position: relative;
	}
	#section1 {
		background-color: #f8f9fa;
	}
	#section2 {
		background-color: #e9ecef;
	}
	#section3 {
		background-color: #dee2e6;
	}
</style>

