---
const cardColor = "white"; // Light color for the card background
const { title, contents } = Astro.props;
---

<div class="card">
    <div class="card-img-top">
        <slot />
        <div class="card-non-img">
            <div class="card-header">
                <h3>{title}</h3>
            </div>
            <div class="card-body">{contents}</div>
        </div>
    </div>

    <style define:vars={{ cardColor }}>
        .card {
            border-radius: 20px;
            overflow: hidden;
            border: none;
            background-color: var(--cardColor);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            outline: solid #faece0 5px;
            width: 100%;
        }
        .card-header {
            justify-content: center;
            text-align: center;
            align-content: center;
            border: none;
            background-color: transparent;
            /*margin-bottom: 30px;*/
            border: none;
            height: 4lh;

            h3 {
                line-height: 110%;
                color: #faece0;
            }
        }
        .card-img-top {
            border: none;
            z-index: 1;
        }
        .card-body,
        .card-header {
            position: relative;
            margin-top: -0px;
            z-index: 2;
            font-family: 'Fredoka', serif;
            font-size: larger;
        }
        .card-non-img {
            transition: all 0.2s;
            transform: translateY(0px);
            z-index: 10;
        }
        .card-header::before {
            transition: all 0.2s;
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            top: -0px;
            height: 900px;
            background-color: #ff9e9a;
            transform: skewY(-5deg) scale(1.1);
            transform-origin: top left;
            z-index: -1;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
            border-top: solid 5px #faece0;
        }
        .card-body {
            font-size: x-large;
            border: none;
            padding: 0px;
        }

    </style>
</div>
