---
import headerVideo from "../assets/header_video.webm";
import logo from "../assets/logo.svg";
import logoRaw from "../assets/logo_animation.svg?raw";
---

<div class="h-screen w-full" id="hero">
    <video id="video" autoplay muted src={headerVideo} class="w-full h-full object-fit" transition:persist> </video>
</div>

