---
import 'bootstrap/dist/css/bootstrap.min.css';
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/greenleaf/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Greenleaf</title>
		<ClientRouter />
	</head>
	<body>
		<Nav transition:persist />
		<slot />
	</body>
</html>

<style>
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		position: relative;
	}
</style>

<script>
</script>
