---

import '../styles/global.css'
import Navbar from '@components/nav-bar.astro';
import { ClientRouter,ViewTransitions } from "astro:transitions";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<script src="@scripts/lenis.js"></script>
			<ClientRouter />
	</head>
	<body >
		<Navbar />
		<slot />
	</body>
</html>

<style>
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		position: relative;
	}
</style>

